.Header:after {
  content: "";
  display: block;
  clear: both; }

.Header__brandName {
  float: left;
  font-size: 1.7em; }

.Header .Navbar {
  line-height: 4.59em;
  text-align: right; }

@media (max-width: 690px) {
  .Header__brandName, .Header .Navbar {
    text-align: center;
    float: none;
    line-height: 2em; }
  .Header .Navbar {
    margin-bottom: 1.5em; } }

.Navbar__item {
  margin: 0 0.5em; }

.Navbar__item:last-child {
  margin-right: 0; }

.Navbar__item.is-active {
  text-decoration: underline; }
