* {
  outline: none;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  font-size: 1em; }

html, body {
  background: #c8c8c8;
  font-size: 13px; }

.container {
  max-width: 1260px;
  margin: 0 auto; }

@media (max-width: 1260px) {
  .container {
    padding-left: 10px;
    padding-right: 10px; } }

.App {
  padding-top: 30px;
  padding-bottom: 60px; }
